{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/carrinho.css' %}">
</head>
<body>
	<h2>Geral</h2>
	<a href="" class="alterna-propaganda">Esconde Propaganda</a>
	<a href="" id="mostra-propagandas" class="alterna-propaganda">Mostra Propaganda</a>
	
	<div class="carrinho">
		<h2>Carrinho entrega em Sao Paulo</h2>
		<span id="info-recuperado"></span>
		<table>
			<thead>
				<tr>
					<td></td>
					<td>Nome</td>
					<td>Quantidade</td>
					<td>Valor</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="{% static 'img/tablet.jpg' %}"></td>
					<td>Tablet miPad 18</td>
					<td class="quantidade-item-carrinho">1</td>
					<td>499.99</td>
					<td class="item-total">499.99</td>
					<td><a class="remove-item" href="">(Remover)</td>
				</tr>
				<tr>
					<td><img src="{% static 'img/telefone.png' %}"></td>
					<td>Telefone miPhone 18</td>
					<td class="quantidade-item-carrinho">2</td>
					<td>199.99</td>
					<td class="item-total">399.98</td>
					<td><a class="remove-item" href="">(Remover)</td>
				</tr>
				<tr>
					<td><img src="{% static 'img/sapato.jpg' %}"></td>
					<td>Sapato</td>
					<td class="quantidade-item-carrinho">1</td>
					<td>99.99</td>
					<td class="item-total">99.99</td>
					<td><a class="remove-item" href="">(Remover)</td>
				</tr>
				<tr>
					<td><img src="{% static 'img/monitor.jpg' %}"></td>
					<td>Monitor Sam 21</td>
					<td class="quantidade-item-carrinho">1</td>
					<td>299.00</td>
					<td class="item-total">299.00</td>
					<td><a class="remove-item" href="">(Remover)</td>
				</tr>
				<tr>
					<td><img src="{% static 'img/teclado.jpg' %}"></td>
					<td>Teclado com fio preto </td>
					<td class="quantidade-item-carrinho">1</td>
					<td>100.00</td>
					<td class="item-total">100.00</td>
					<td><a class="remove-item" href="">(Remover)</td>
				</tr>
				<tr>
					<td><img src="{% static 'img/mouse.jpg' %}"></td>
					<td>Mouse wireless</td>
					<td class="quantidade-item-carrinho">1</td>
					<td>199.00</td>
					<td class="item-total">199.00</td>
					<td><a class="remove-item" href="">(Remover)</td>
				</tr>
			</tbody>
		</table>

		<div class="resumo">
			Valor total: R$ <span class="valor-total">0</span>
			<br>
			Quantidade de itens: <span class="quantidade-de-itens">0</span>
			<br>
			Quantidade de itens no carrinho: <span class="itensNoCarrinho">0</span>
		</div>

		<div>
			<input type="button" value="Undo" class="undo">
		</div>
	</div>


	<div class="carrinho">
		<h2>Carrinho entrega em Vitória</h2>
		<span id="info-recuperado"></span>
		<table>
			<thead>
				<tr>
					<td></td>
					<td>Nome</td>
					<td>Quantidade</td>
					<td>Valor</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="{% static 'img/camiseta.jpg' %}"></td>
					<td>Camiseta G</td>
					<td class="quantidade-item-carrinho">1</td>
					<td>25.00</td>
					<td class="item-total">25.00</td>
					<td><a class="remove-item" href="">(Remover)</td>
				</tr>
			</tbody>
		</table>

		<div class="resumo">
			Valor total: R$ <span class="valor-total">0</span>
			<br>
			Quantidade de itens: <span class="quantidade-de-itens">0</span>
			<br>
			Quantidade de itens no carrinho: <span class="itensNoCarrinho">0</span>
		</div>

		<div>
			<input type="button" value="Undo" class="undo">
		</div>
	</div>

	

	<script src="{%static 'js/https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{ static 'js/carrinho.js'}"></script>

</body>
</html>